server:
  port: 9295
spring:
  rabbitmq:
    host: localhost
    port: 56721
    username: rabbitmq
    password: password
  datasource:
    url: jdbc:postgresql://localhost:54329/telegram
    username: telegram-user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    generate-ddl: true
token:
service:
  file_info:
    uri: https://api.telegram.org/bot{token}/getFile?file_id={fileId}
  file_storage:
    uri: https://api.telegram.org/file/bot{token}/{filePath}

